.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e11d48;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
}
